html {
  background-color: white;
}

.nurse {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.nurse_header {
  background: #263238;
  color: white;
  margin-top: 0;
  padding: 40px;
}

.nurse_title {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  line-height:72px;
}

.nurse_time {
  line-height: normal;
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 80px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

.nurse-form {
  margin: 30px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 860px;
}

.nurse-form__text {
  width: 400px;
  margin-right: 30px;
}

.nurse-form__text--symptoms {
  width: 830px;
}

.nurse-form__select {
  width: 400px;
  margin-right: 30px;
}

.nurse-form__submit {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 830px;
  height: 60px;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  background: #1DE9B6;
  box-shadow: inset 0 -2px #00BFA5;
  border: 0;
}

.nurse-form__submit:focus {
  background-color: #1DE9B6;
}

.nurse-form__submit:hover {
  background: #00BFA5;
}

.nurse-form__submit:disabled {
  background: #90A4AE;
  box-shadow: inset 0 -2px #90A4AE;
}

.radio__label {
  display: block;
}

.radio__button {
  display: inline-block;
  margin-right: 30px;
}

.radio__button--a label {
  color: #B71C1C;
}

.radio__button--b label {
  color: #F9A825;
}

.radio__button--c label {
  color: #004D40;
}

.radio__button--d label {
  color: #1A237E;
}
