html {
  background-color: #ECEFF1;
}

.app {
  font-family: 'Roboto', sans-serif;
  background-color: #ECEFF1;
}

.app__header {
  background: #263238;
  color: white;
  margin-top: 0;
  padding: 40px;
}

.app__title {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
}

.app__time {
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 80px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}