.queue__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 60px;
}
.queue__item:nth-child(odd) {
    background-color: #ECEFF1;
}
.queue__item:nth-child(even) {
    background-color: #CFD8DC;
}
.queue__number {
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
    display: inline-block;
    flex: 1;
}
.queue__item--A .queue__number::first-letter {
    color: #B71C1C;
}
.queue__item--B .queue__number::first-letter {
    color: #F9A825;
}
.queue__item--C .queue__number::first-letter {
    color: #004D40;
}
.queue__item--D .queue__number::first-letter {
    color: #1A237E;
}
.queue__item--now .queue__number {
    font-weight: bold;
}
.queue__time {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 40px;
    display: inline-block;
}