html {
  background-color: white;
}

.App {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.App-header {
  background: #263238;
  color: white;
  margin-top: 0;
  padding: 40px;
}

.App-title {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
}

.App-time {
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 80px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

/* patient block */
.patient *{
  box-sizing: border-box;
}

.patient {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 700px;
  margin: 0 auto;
}

.patient__header {
  margin: 30px auto;
  font-size: 40px;
  width: 670px
}

.patient__label {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #555555;
}

.patient__text {
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 15px;
  font-size: 30px;
}

.patient__button {
  width: 660px;
  margin: 0 auto;
  height: 60px;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  background: #1DE9B6;
  box-shadow: inset 0 -2px #00BFA5;
  border: 0;
}

.patient__button:hover:not(:disabled) {
  background: #00BFA5;
}

.patient__button:disabled {
  background: #90A4AE;
  box-shadow: inset 0 -2px #90A4AE;
}

.patient_empty {
  margin-top: 60px;
}
